# Dependencies
node_modules/
.pnp
.pnp.*

# Environments
.env*
.venv/
venv/
env/
ENV/

# Next.js
.next/
out/

# Production
build/
dist/

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Prisma
/backend/src/generated/prisma

# OS files
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
